<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzypan.mapper.FileShareMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wzypan.entity.po.FileShare">
        <id column="share_id" property="shareId" />
        <result column="file_id" property="fileId" />
        <result column="user_id" property="userId" />
        <result column="valid_type" property="validType" />
        <result column="expire_time" property="expireTime" />
        <result column="share_time" property="shareTime" />
        <result column="code" property="code" />
        <result column="show_count" property="showCount" />
        <!--文件名称-->
        <result column="file_name" property="fileName"/>
        <!--封面-->
        <result column="file_cover" property="fileCover"/>
        <!--0:文件 1:目录-->
        <result column="folder_type" property="folderType"/>
        <!--1:视频 2:音频  3:图片 4:文档 5:其他-->
        <result column="file_category" property="fileCategory"/>
        <!-- 1:视频 2:音频  3:图片 4:pdf 5:doc 6:excel 7:txt 8:code 9:zip 10:其他-->
        <result column="file_type" property="fileType"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        share_id, s.file_id, s.user_id, valid_type, expire_time, share_time, code, show_count
    </sql>

    <select id="selectPageWithJoin" resultType="com.wzypan.entity.dto.FileShareInfoDto">
        select <include refid="Base_Column_List"/>
            ,f.file_name,f.folder_type,f.file_category,f.file_type,f.file_cover
        FROM file_share s
        left join file_info f
        on s.file_id = f.file_id and f.user_id = #{userId}
    </select>

    <update id="incrShareShowCount">
        update file_share
        set show_count = show_count + 1
        where share_id = #{shareId}
    </update>

</mapper>
